.h4 {
    color: #ff206a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}

.background {
color: #df5555;
}

.p {
    font-family: Arial, Helvetica, sans-serif;
}

.color{
background-color: #fafafa;
}

.centerdiv {
    justify-content: center;
    display: flex;
    align-items: center;
}

.nav-link:hover,
.nav-link:focus,
.end-link,
.end-link:focus,
.nav-link {
    color: #ff206a;
}

.topo {
    padding: 30px;
    position: relative;
    background-color: #fafafa;
}

.banner-topo {
    width: 100%;
    color: #000;
    padding: 30px;
}